    <div id="main-content" class="col-xs-9">

    </div>


<script>
  currentUser = <%= current_user.id if current_user%>
  $(document).ready(function(){
    CodePron.initialize();

});

window.alert = function alert(message) {
  console.log(message);
};
</script>
<script>


</script>
