<form id="pen-details-form" class="pen-details-form">

    <div>
      <input type="text" id="pen-details-title" class="pen-details-title" name="pen-details-title" value="" placeholder="Project Title" maxlength="255">
    </div>

    <div>
      <textarea type="text" id="pen-details-description" placeholder="Description, something to use in search" class="pen-details-description"></textarea>
    </div>

    <div>

      </div>

      <div class="right-button">


        <input type="submit" class="button submit" value="Save" id="save-details">
      </div>

    </div>

  </form>
