<div class='previews-window'>
  <div id='preview-form'>
  </div>
      <div class="info-popup"></div>

    <div class="comment-popup"></div>
  <div id="preview-iframe">
  </div>
</div>

<div class="footer">
  <ul id="foot-left">
    <li><a id="info" href="#/previews/<%= preview.get('id')%>">Info</a></li>
    <li><a id="comments" href="#/previews/<%= preview.get('id')%>">Comments</a></li>

  </ul>

  <ul id="foot-right">
  </ul>
<div>
