<div class='previews-window'>
  <div id='preview-form'>
  </div>
<<<<<<< HEAD
      <a href="#x" class="overlay" id="m"></a>
        <div id="modal-box-pop"><a class="close" href="#close"></a>

                    <input type="text">
          <textarea></textarea>
          <button class="submit">Submit</button>
                    </div>

=======
      <div class="info-popup"></div>
>>>>>>> moremenus

    <div class="comment-popup"></div>
  <div id="preview-iframe">
  </div>
</div>

<div class="footer">
  <ul id="foot-left">
<<<<<<< HEAD
    <li><a id="pop" href="#/previews/<%= preview.get('id')%>">Info</a></li>
=======
    <li><a id="info" href="#/previews/<%= preview.get('id')%>">Info</a></li>
>>>>>>> moremenus
    <li><a id="comments" href="#/previews/<%= preview.get('id')%>">Comments</a></li>

  </ul>

  <ul id="foot-right">
    <li><%=preview.get('title')%></li>
  </ul>
<div>
