
<div class="users-form">
  <h1>Sign In</h1>
  <form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>email<br>
      <input name="user[email]" type="text" value="example@mail.com"><br>
    </label><br>
    <label>Password<br>
      <input name="user[password]" type="password" value="password"><br>
    </label><br>
    <input type="submit" value="Submit" class="sign"><br>
  </form>
</div>
