<h4> LEAVE A COMMENT</h4>
<form action="/api/previews/<%= preview.get('id')%>/comments">
  <textarea name="body" id="comment-body">Tell it!</textarea>
    <div class="submit-area">
        <button id="submit" class="submit">
          <span class="label">Submit</span>
        </button>
      </div>

</form>
