<header class="header">
  <nav class="header-nav group">

    <h1 class="header-logo">
      <a href="/">C0d3Pr0N</a>
    </h1>
    <button class="submit">New Project</button>

    <% if signed_in? %>
      <%= render 'shared/dropdown' %>
    <% else %>

      <%= render 'shared/signin' %>
    <% end %>

  </nav>
</header>
