
.pen-details {
  min-width: 400px;
    // bottom: 61px;
  bottom:40px;
  padding: 20px;
  background: linear-gradient(#454545, #222);
  color:black;

}


.pen-details-form{
  background: #2e2e2e;
  overflow:hidden;
  position:absolute;
  top: 400px;
  margin-left: 50px;
  box-shadow: 0 2px 12px black;
  border-top: 2px ridge black;
  width:400px;
}
#pen-details-title{
  background: #000;
  width:90%;
  color: white;
  margin:20px;
  margin-bottom:0px;
  height:25px;
}

textarea#pen-details-description{
  background:black;
  border: none;
}
textarea#pen-details-description:focus{
  border: 1px ridge #cb60b3
}
#save-details{
  box-shadow: none;
  width: auto;
  float: right;
  margin-bottom:30px;
  margin-right: 45%;
}



#pen-details-description{
  background: white;
  margin: 20px;
  height:150px;
  width:90%;
  margin-top:10px;

}

.next-page, .prev-page{
  font-weight: 900;
  background:#2e2e2e;
  color: white;
}

.next-page{
  position: absolute;
  top: 70%;
  right: 50%;
}

.prev-page{
  position: absolute;
  top: 70%;
  right: 55%;
}
