
.pen-details {
  min-width: 400px;
    // bottom: 61px;
  bottom:40px;
  padding: 20px;
  background: linear-gradient(#454545, #222);
  color:black;

}


.pen-details-form{
  background: rgba(203,96,179,1);
  background: -moz-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 19%, rgba(168,0,119,1) 65%, rgba(219,54,164,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(203,96,179,1)), color-stop(19%, rgba(193,70,161,1)), color-stop(65%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1)));
  background: -webkit-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 19%, rgba(168,0,119,1) 65%, rgba(219,54,164,1) 100%);
  background: -o-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 19%, rgba(168,0,119,1) 65%, rgba(219,54,164,1) 100%);
  background: -ms-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 19%, rgba(168,0,119,1) 65%, rgba(219,54,164,1) 100%);
  background: linear-gradient(to right, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 19%, rgba(168,0,119,1) 65%, rgba(219,54,164,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 );
  overflow:hidden;
  position:absolute;
  top: 400px;
  margin-left: 50px;
  box-shadow: 0 2px 12px black;
  border-top: 2px ridge black;
  width:400px;
}
#pen-details-title{
  background: #000;
  width:90%;
  color: white;
  margin:20px;
  margin-bottom:0px;
  height:25px;
}

textarea#pen-details-description{
  background:black;
  border: none;
}
textarea#pen-details-description:focus{
  border: 1px ridge #cb60b3
}
#save-details{
  border: black solid ridge;
  float: right;
  margin-bottom:30px;
  margin-right: 30px;
}

#pen-details-description{
  background: white;
  margin: 20px;
  height:150px;
  width:90%;
  margin-top:10px;

}
