// Place all the styles related to the Previews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.iframe{
  width:100%;
  height: 400px;
}

.form-control{
  width: 250px;
  min-height: 250px;
  margin: 15px 0;
}
