// Place all the styles related to the Previews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul{
  list-style: none;
}
.header{
  height: 50px;
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.header-list {
  position: relative;
  float: right;
  list-style: none;
}
.header {
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header-list > li {
  float: left;
  display: block;
  margin: 5px;
  margin-top: 15px;
  position: relative;

}

.header-logo {
  float: left;
  font-weight: 700;
  padding-right:20px;
  margin-top: 30px;
}

.header-logo:hover{
  color: #cb60b3;
}


.iframe{
  width:100%;
  height: 400px;
  background: #000;
}
.form{
  border-radius:5px;
  margin-left: 4%;
}


.form label{
  display: block;
  padding: 5px;
  border-radius:2px;
  border-top: thick black solid;
  height:30px;
  background: #cb60b3; /* Old browsers */
  background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#ad1283), color-stop(100%,#de47ac)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
  border: thin gray solid;

}

textarea{
  border: thin white solid;
  display:inline block;
  height:200px;
  width:400px;
  font-weight: bold;
  font-size: 14px;
  background: inherit;
  margin: 0 auto;
  box-sizing:border-box;
}
#html{
  color:lightblue;
}

#css{
  color: purple;
}

#js{

  color: orange;
}
.code{
  float:left;
}

body{
  background:#1f1f1f;
  color: white;
}


.submit {
  position: relative;
  background: #cb60b3; /* Old browsers */
  background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#ad1283), color-stop(100%,#de47ac)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ee1eb5;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  top:15px;
  font-weight:bold;
  padding: 6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #c70067;
}

.sign-in, .sign-up{
  position: relative;
  background: #cb60b3; /* Old browsers */
  background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#ad1283), color-stop(100%,#de47ac)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ee1eb5;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  bottom:0px;
  text-decoration:none;
  text-shadow:0px 1px 0px #c70067;
}

.submit:hover, .sign-in:hover, .sign-up:hover {
  background: #ff7cd8; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff7cd8 0%, #fd89d7 49%, #fba6e1 50%, #fcecfc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7cd8), color-stop(49%,#fd89d7), color-stop(50%,#fba6e1), color-stop(100%,#fcecfc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff7cd8 0%,#fd89d7 49%,#fba6e1 50%,#fcecfc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff7cd8 0%,#fd89d7 49%,#fba6e1 50%,#fcecfc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff7cd8 0%,#fd89d7 49%,#fba6e1 50%,#fcecfc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff7cd8 0%,#fd89d7 49%,#fba6e1 50%,#fcecfc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fcecfc',GradientType=0 ); /* IE6-9 */

  color: black;
}
.submit:active {
  position:relative;
}
#iframes{
  margin-left:6%;
  margin-top: 50px;
}
.iframe{
  position: relative;
  float: left;
  margin: 10px;
  height: 150px;
  width: 350px;
  overflow: hidden;
}

.iframe.small{
  position:relative;
  top:-10px;
  left:-10px;
  overflow:hidden;
}
.iframe.small:nth-child(3n){
  margin-right: 20px;
}
.bars{
  display: block;
  position: absolute;
  color:#76daff;
  bottom: 0px;
  font-size:12px;
  background: black;
  box-sizing:border-box;
  width: 350px;
  height: 25px;
  padding: 5px 8px;
  text-align: left;
  z-index:3;
}

.bars:hover{
  color:#cb60b3;
}


/* Nav-Drop down */
.user-options {
  display: none;
  position: absolute;
  font-size: 14px;
  right:1px;
  background: black;
  color:white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}

.header-list > li:hover > .user-options,
.header-list > a:hover +.user-options {display: block}


.user-options>a {
  display: block;
  width: 100%;
  height: 100%;
}
.user-options > li {
  position: relative;
  display: block;
  padding: 5px;
  font-weight: bold;
  width: 100px;
  height: 20px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}


.user-options>li:hover{
  color: #000;
  background: #cb60b3;
}
.cover-link{
  position:absolute;
  width:100%;
  height:100%;
  z-index:3;
}


/* meta-overlay */
.meta-overlay{
  display:none;
  width:100%;
  height:100%;
  font-weight:normal;
  background:#000;
  padding:5px;
  position: absolute;
  z-index:2;
}

.meta-overlay h3{
  color:#76daff;
}

.wrap:hover .meta-overlay{
  display: block;
}
